<footer class="footer" [ngClass]="{ posicionar: !path }">
  <div class="container">
    <address>
      <strong>Chilena Consolidada Seguros de Vida S.A.</strong
      ><strong>• Chilena Consolidada Seguros Generales S.A.</strong>• Plataforma
      atención al cliente <b>600 600 9090</b>
    </address>
    <mat-list>
      <mat-list-item
        ><a href="http://www.ddachile.cl/home.asp" target="_blank"
          >Defensor del asegurado</a
        ></mat-list-item
      >
      <mat-list-item
        ><a href="/Corporate/Web/ClientesOnline/Informacion/Consultas"
          >Presentación de consultas y reclamos</a
        ></mat-list-item
      >
      <mat-list-item
        ><a href="/Corporate/Web/ClientesOnline/Informacion/Politicas"
          >Políticas de privacidad</a
        ></mat-list-item
      >
      <mat-list-item
        ><a
          href="https://www14.chilena.cl/es-cl/location-finder-local"
          target="_blank"
          >Oficinas</a
        ></mat-list-item
      >
      <mat-list-item
        ><a href="/Corporate/Web/ClientesOnline/Informacion/CondicionesUso"
          >Condiciones de uso</a
        ></mat-list-item
      >
      <mat-list-item
        ><a href="/Corporate/Web/ClientesOnline/Informacion/LineaDenuncia"
          >Línea de denuncia</a
        ></mat-list-item
      >
      <mat-list-item>© Zurich</mat-list-item>
    </mat-list>
  </div>
</footer>
