// DESA
@font-face {  font-family: 'Frutiger-Light'; src: url('src/assets/fonts/Frutiger-45-Light.otf');  }
@font-face {  font-family: 'Frutiger-75-Black';src: url('src/assets/fonts/Frutiger-75-Black.ttf');}
@font-face {  font-family: 'Frutiger-65-Bold';src: url('src/assets/fonts/Frutiger-65-Bold.ttf');  }
@font-face {  font-family: 'Frutiger-55-Roman';src: url('src/assets/fonts/Frutiger-55-Roman.otf');}
@font-face {  font-family: 'Swiss Light';src: url('src/assets/fonts/Swiss-721-Light.otf'); }
@font-face {  font-family: 'Swiss Roman';src: url('src/assets/fonts/Swiss-721-Roman.otf');}
@font-face {  font-family: 'Swiss Bold';src: url('src/assets/fonts/Swiss-721-Bold.otf');  }


// //PROD
// @font-face {
//     font-family: 'Frutiger-Light';
//     src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-45-Light.otf');
//     src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-45-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-45-Light.woff') format('woff'), /* Pretty Modern Browsers */
//          url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-45-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
//     }

// @font-face {
//   font-family: 'Frutiger-75-Black';
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-75-Black.ttf');
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-75-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-75-Black.woff') format('woff'), /* Pretty Modern Browsers */
//          url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-75-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
// }

// @font-face {
//   font-family: 'Frutiger-65-Bold';
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-65-Bold.ttf');
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-65-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-65-Bold.woff') format('woff'), /* Pretty Modern Browsers */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-65-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
// }

// @font-face {
//   font-family: 'Frutiger-55-Roman';
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-55-Roman.otf');
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-55-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-55-Roman.woff') format('woff'), /* Pretty Modern Browsers */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Frutiger-55-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
// }

// @font-face {
//   font-family: 'Swiss Light';
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Light.otf');
//   src: url('/fonts/Swiss-721-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Light.woff') format('woff'), /* Pretty Modern Browsers */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
// }

// @font-face {
//   font-family: 'Swiss Roman';
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Roman.otf');
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Roman.woff') format('woff'), /* Pretty Modern Browsers */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
// }

// @font-face {
//   font-family: 'Swiss Bold';
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Bold.otf');
//   src: url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Bold.woff') format('woff'), /* Pretty Modern Browsers */
//   url('/Corporate/Web/VidaIndividual/QA/SuscripcionVI/assets/fonts/Swiss-721-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
// }
