@import "src/assets/fonts/fonts.scss";

.header-content{
    //background-image: linear-gradient(-90deg,#000066 ,#7A7AAF , #7A7AAF,  #353585); /* Standard*/
    background-color:#000066;
    text-align: center;
    vertical-align:middle;
    padding: 20px;
    max-height: 220px;
}

.div-imagen-header {
    display: block !important;
    float: right !important;
}

.img-header{
    width: 100%;
    max-width: 450px;
    height: auto;
}

.titulo{
    height: 49px;
    width: 190px;
    font-size: 3vw;
    text-align: left;
    margin-top: 6%;
    margin-left: 30px
}

// Maximo de tamaños para layout sobre 700
@media  (min-width: 701px) {
    .titulo{
        font-size: 24px;
    }
  }

.titulo-light45{
    color:white;
    font-family: 'Frutiger-Light';
}

.titulo-black75{
    color:white;
    font-family: 'Frutiger-75-Black';
}

.linea-encabezado {
    background-color: #009EE0;
    height: 10px;
    border: 0;
    margin: 0;
}


// .desaparece {
//     display: none !important;
// }
 
// @media screen and (orientation:portrait){
//     .container{
//         padding: 0 !important;
//     }
//     .toolbar-header{
//         padding: 0 0 0 5px !important;
//     }
// }

// .toolbar-header{
//     background: white;
//     margin-right: auto;
//     margin-left: auto;
// }

// @media screen and (orientation:portrait){
//     .toolbar-header{
//         width: 100%;
//     }
// }

// @media screen and (orientation:landscape){
//     .toolbar-header{
//         width: 80%;
//     }
// }

// .button-menu-vertical{
//     margin-right: 15px;
//     background: white;
//     border: 2px #4671B8 solid;
// }

// .logo {
//     vertical-align: middle;
//     height:51px; 
//     width:113px; 
//  }
 
//  .centrar {
//      position:relative; 
//      top: -3px;
//      color: #4671B8;
//  }

// .spacer {
// flex: 1 1 auto;
// }

// .forma {
//     display: grid;
//     margin: 0px 5px 0px 0px;
//     border-left: 1px solid #DAD4BD;
//     padding-left: 15px;
// }

// .nombre {
//     color:#717171 !important;
//     text-align: right;
//     font-size: 14px;
//     list-style: none !important;

// }

// .desconectar {
//     font-size: 12px !important;
//     color:#337ab7;
// }

// .desconectar :hover {
//     color: #23527c;
//     text-decoration: underline;
//     background-color: transparent;
//     font-size: 12px !important;
// }

// .imagen {
//     height: 50px;
//     vertical-align: middle;
// }

// @media screen and (min-width: 600px) {
//     .imagen {
//         height: auto;
//     }
// }

// .span-grande {
//     font-size: 0.7rem;
//     color: #4066B3;
//     height: 15px;
// }

// @media screen and (min-width: 600px) {
//     .span-grande {
//         font-size: 0.9rem;
//     }
// }

// .span-pequeño {
//     font-size: 0.6rem;
//     color: #4066B3;
// }

// @media screen and (min-width: 600px) {
//     .span-pequeño {
//         font-size: 0.8rem;
//     }
// }

// .tamaño{
//     height: 54px;
//     margin-right: 5px;
//     padding: 0;
// }