<div>
    <h1>Componente Home</h1>
    <h3>Templates: </h3>
    <mat-list role="list">
        <mat-list-item role="listitem"><a matLine (click)="rutaService.Ubicacion('combobox')">Combobox</a></mat-list-item>
        <mat-list-item role="listitem"><a matLine (click)="rutaService.Ubicacion('formulario-uno')">Formulario Uno</a></mat-list-item>
        <mat-list-item role="listitem"><a matLine (click)="rutaService.Ubicacion('formulario-dos')">Formulario dos</a></mat-list-item>
        <mat-list-item role="listitem"><a matLine (click)="rutaService.Ubicacion('tabla')">Tablas</a></mat-list-item>
        <mat-list-item role="listitem"><a matLine (click)="rutaService.Ubicacion('tab')">Tabs</a></mat-list-item>
    </mat-list>
</div>