@import '../theme.scss';

.contenido-completo {
  height: 100%;
  width: 100%;
}

i {
  color: mat-color($mat-zurichtheme, 900) !important;
}

.flexible {
  display: flex;
}

.linea-cabecera {
  border: 2px solid mat-color($mat-zurichtheme, 900);
}

.menu-imagen {
  width: calc(100% - 132px);
  justify-content: space-between;
}

.titulo {
  color: mat-color($mat-zurichtheme, 600) !important;
  font-size: 20px;
  padding: 25px 10px 25px 22px;
  border-bottom: 8px solid mat-color($mat-zurichtheme, 600) !important;
  border-radius: 6px;
  cursor: pointer;
}

.titulo :hover {
  background: $color-resultado;
}

main {
  overflow: auto;
  background-color: white;
}

.principal {
  height: 100%;
}

footer {
  position: relative;
  clear: both;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-expansion-panel {
  width: 100% !important;
}

.separacion {
  padding: 10px !important;
}

.boton-menu {
  // position: absolute;
  // right: 0;
  z-index: 1;
  display: flex;
}

.margen-imagen {
  margin-top: auto;
  margin-bottom: auto;
}

.imagen {
  height: 60px;
  vertical-align: middle;
}

.color-boton-menu {
  color: mat-color($mat-zurichtheme, 50);
  ;
}

.color-boton-menu-interno {
  color: mat-color($mat-zurichtheme, 900);
}

.mat-drawer-content {
  overflow: auto !important;
}

//////////////////////////////////////////////////////////////////////////////////////////////
//Estilo datos del usuario

.user-profile-vertical {
  padding: 0px 10px 55px 10px;
}

.user-profile-horizontal {
  padding: 10px;
}

.nombre-user {
  color: mat-color($mat-zurichtheme, 900);
  font-weight: bold;
  font-family: $font-family1;
  font-size: 16px;
  max-width: 250px;
}

.extra-data {
  color: mat-color($mat-zurichtheme, 500);
  font-family: $font-family5;
  font-size: 14px;
  max-width: 250px;
  word-wrap: break-word;
}

.user-data {
  text-align: left;
}

.logo-user {
  text-align: center;
  text-align: -webkit-center;
  margin-bottom: 5px;
}

.img-logo {
  width: 46px;
  height: auto;
}

//Estilo datos del usuario
//////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////
//Estilo Log Out Button
.img-logout {
  width: 20px;
  height: auto;
}

.logout-div {
  text-align: center;
  text-align: -webkit-center;
}

.logout-profile-vertical {
  padding: 0px 0px 5px 0px;
  position: absolute;
  bottom: 0px;
}

.logout-profile-horizontal {
  padding: 0px 0px 5px 0px;
  bottom: 0px;
}

//Estilo Log Out Button
//////////////////////////////////////////////////////////////////////////////////////////////
